#Services{
    height: 30rem;
}
.services{
    padding: 0 3rem 0 3rem;
    display: flex;
    /* height: 70vh; */
    margin-bottom: 13rem;
    margin-top: 14rem;
    
}
.s-left-side{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 28rem;
}
.s-left-side>:nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.s-left-side>:nth-child(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}
.s-left-side>:nth-child(3){
    color: var(--gray);
    font-size: 14px;
    margin-top: 1rem;
}
.s-button{
    width: 5rem!important;
    height: 1.4rem;
    margin: 1rem;
}

.cards{
    position: relative;
}
.cards>*{
    position: absolute;
}

.blur{
    position: absolute;
    width: 15rem;
    height: 14rem;
    z-index: -9;
    left: 50%;
    filter: blur(72px);
}
.blur1{
    position: absolute;
    width: 10rem;
    height: 10rem;
    z-index: -9;
    left: 60%;
    filter: blur(90px);
    top: 90%;
}

@media screen and (max-width: 480px) {
    #Services{
        height: 20rem;
    }
    .s-left-side{
        width: 20rem;
        margin-left: -2.5rem;
        height: 28rem;
    }
    .s-left-side>:nth-child(1){
        width: 20rem;
    }
    .s-left-side>:nth-child(2){
        width: 20rem;
    }
    .s-left-side>:nth-child(3){
        padding-bottom: 1rem;
        width: 20rem;
    }
   
}
